{% extends "base.html" %}
{% block content %}
<h1>REGISTER</h1> 
    <form action="../updatedata/{{ reg.id }}" method="post">
        {% csrf_token %}
    Name<input type="text" name="name" id="name" value="{{ reg.name }}" placeholder="Name"><br>
    Phone<input type="text" name="phone" id="phone" value="{{ reg.phone }}" placeholder="Phone"><br>
    Email<input type="text" name="email" id="email" value="{{ reg.email }}" placeholder="Email"><br>
    Username<input type="text" name="uname" id="uname" value="{{ reg.username }}" placeholder="Username"><br>
    Password<input type="password" name="password" value="{{ reg.password }}" id="password">
    <br>
    <button type="submit">SUBMIT</button>
    </form>

{% endblock %}